/*****
 COLOR
 */
/*******
 BORDERS
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.clickable {
  pointer-events: auto;
}

.contact-button {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  padding: 1.1rem;
  width: 17rem;
  height: 7rem;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact-button:hover {
  background-color: #db8876;
  color: black;
}
.contact-button:focus {
  outline: 2px solid black;
  background-color: #db8876;
  color: black;
}

.drop-down {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 2rem;
  width: 17rem;
  height: 7rem;
  cursor: pointer;
}
.drop-down:focus .option {
  position: relative;
  pointer-events: all;
}
.drop-down-section-wrapper {
  display: flex;
  margin: 2rem 0;
}

.option {
  display: flex;
  align-items: center;
  order: 2;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 7rem;
  padding: 2rem;
  background-color: #901c1c;
  color: white;
  border-top: 1px solid white;
  font-size: 1.8rem;
  font-weight: 700;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  opacity: 0;
  position: absolute;
  left: -9999rem;
}
.input:checked + .option {
  position: relative;
  order: 1;
  z-index: 2;
  background: #901c1c;
  border-top: none;
}
.input:checked + .option:before {
  position: absolute;
  content: "";
  right: 0;
  width: 4rem;
  height: 4rem;
  background: #901c1c;
}
.input:checked + .option:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 45%;
  right: 20px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  pointer-events: none;
  z-index: 3;
}

form {
  width: 100%;
}
form ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  font-size: 3rem;
}
form li {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  list-style: none;
}
form li + li {
  margin-top: 26px;
}
form label {
  color: #312e2e;
}
form input {
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
}
form textarea {
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
}
form input, form textarea {
  border: 1px solid transparent;
}
form input:focus, form textarea:focus {
  outline: 2px solid black;
  box-shadow: inset 0 0 20px 0 #d3573c;
}

@media screen and (max-width: 1280px) {
  form ul {
    font-size: 2rem;
  }
  form li + li {
    margin-top: 1rem;
  }
  form input {
    padding: 0.5rem;
  }
  form textarea {
    padding: 0.5rem;
  }
}
.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  padding: 3rem;
  background-color: #db8876;
  color: black;
  font-size: 2.4rem;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 3.6rem;
  max-width: 40rem;
}
.info-box .likes {
  display: flex;
  align-items: center;
}
.info-box .likes img {
  margin-left: 1rem;
  width: 1.1em;
}

@media screen and (max-width: 1280px) {
  .info-box {
    gap: 6rem;
    padding: 2rem;
    font-size: 1.8rem;
    max-width: 30rem;
  }
}
#lightbox-modal {
  display: none;
}

.lightbox-modal {
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 5rem;
  z-index: 1000;
}

.lightbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.lightbox__slider {
  display: flex;
  position: relative;
}
.lightbox__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
}
.lightbox__image {
  max-height: 80vh;
  overflow: hidden;
  border-radius: 5px;
}
.lightbox__image img, .lightbox__image video {
  border-radius: 5px;
}
.lightbox__next, .lightbox__previous {
  cursor: pointer;
}
.lightbox__next:focus, .lightbox__previous:focus {
  outline: 2px solid #901c1c;
  box-shadow: 0 0 16px 12px #901c1c;
}
.lightbox__next img, .lightbox__previous img {
  height: 62px;
}
.lightbox__close {
  position: absolute;
  top: 1rem;
  cursor: pointer;
}
.lightbox__close:focus {
  outline: 2px solid #901c1c;
  box-shadow: 0 0 16px 12px #901c1c;
}
.lightbox__description {
  align-self: flex-start;
  font-size: 2.4rem;
  color: #901c1c;
  text-align: left;
  margin-top: 1rem;
  margin-left: 10rem;
}

#contact-modal {
  display: none;
}

.contact-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.4);
  padding-top: 5rem;
  z-index: 1000;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  border-radius: 5px;
  background-color: #d3573c;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal .header {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}
.modal .header img {
  margin-top: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}
.modal .header img:focus {
  outline: 2px solid black;
  background-color: black;
}
.modal .header h1 {
  color: initial;
  font-size: 4rem;
  font-weight: normal;
  text-align: left;
  line-height: 1.2;
}
.modal .header h1 span {
  display: block;
}

@media screen and (max-width: 1280px) {
  .contact-modal {
    padding-top: 3rem;
  }

  .modal {
    padding: 2rem;
  }
  .modal .header h1 {
    font-size: 3rem;
  }
}
.footer {
  height: 20rem;
}

@media screen and (max-width: 1280px) {
  .footer {
    height: 10rem;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__main {
  align-items: center;
  height: 90px;
}
.header__main h1 {
  font-size: 3.6rem;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
  margin-top: 10rem;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photographer_section article a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.photographer_section article h2 {
  color: #d3573c;
  font-size: 3.6rem;
  margin-top: 1.6rem;
}
.photographer_section article img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}
.photographer_section article .photographer__location {
  color: #901c1c;
  font-size: 1.3rem;
}
.photographer_section article .photographer__slogan {
  font-size: 1.2rem;
}
.photographer_section article .photographer__rate {
  color: #757575;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

@media screen and (max-width: 1280px) {
  .photographer_section {
    gap: 4rem;
    margin-top: 6rem;
  }
  .photographer_section article h2 {
    font-size: 2.6rem;
  }
  .photographer_section article img {
    height: 16rem;
    width: 16rem;
  }
}
.photographer__header {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  height: 30rem;
  margin: 0 10rem;
  padding: 0 5rem;
}
.photographer__details {
  flex: 1 1 33%;
}
.photographer__details h1 {
  font-size: 6.4rem;
  color: #d3573c;
}
.photographer__location {
  margin: 1rem 0 1.8rem;
  font-size: 2.4rem;
  color: #901c1c;
}
.photographer__slogan {
  font-size: 1.8rem;
}
.photographer .wrapper {
  flex: 1 1 33%;
  text-align: center;
}
.photographer__profile-picture {
  flex: 1 1 33%;
  text-align: right;
}
.photographer__profile-picture img {
  border-radius: 50%;
}
.photographer__portfolio {
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
}
.photographer__portfolio div > p {
  font-size: 1.8rem;
  font-weight: 700;
}
.photographer__portfolio-images {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 29% 29% 29%;
  row-gap: 5rem;
  column-gap: 10rem;
}
.photographer__portfolio-images .image img {
  width: 100%;
}

.image {
  height: 30rem;
  overflow: hidden;
  border-radius: 5px;
}
.image:focus {
  outline: 2px solid #901c1c;
  box-shadow: 0 0 16px 12px #901c1c;
}
.image img {
  object-fit: cover;
}
.image img, .image video {
  border-radius: 5px;
}
.image-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  color: #901c1c;
  font-size: 2.4rem;
}
.image-description h2 {
  color: inherit;
  font-size: inherit;
}
.image-description p {
  display: flex;
  justify-content: flex-end;
  color: inherit;
  font-size: inherit;
}
.image-description img {
  margin-left: 1rem;
  width: 1.1em;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .photographer__header {
    height: 24rem;
    padding: 0 4rem;
  }
  .photographer__details h1 {
    font-size: 3.4rem;
  }
  .photographer__location {
    font-size: 2rem;
  }
  .photographer__slogan {
    font-size: 1.5rem;
  }
  .photographer__portfolio-images {
    row-gap: 1rem;
    column-gap: 2rem;
  }

  .drop-down label {
    font-size: 1.5rem;
  }
  .drop-down select {
    font-size: 1.5rem;
  }

  .image {
    height: 15rem;
  }
  .image-description {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
