/*****
 COLOR
 */
/*******
 BORDERS
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #db8876;
  color: black;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 3.6rem;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  padding: 3rem;
  background-color: #db8876;
  color: black;
  font-size: 2.4rem;
  border-radius: 5px;
  position: fixed;
  bottom: 0;
  right: 3.6rem;
  max-width: 40rem;
}
.info-box svg {
  margin-left: 1rem;
}

#contact-modal {
  display: none;
}

.contact-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.4);
  padding-top: 5rem;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}
.modal .header {
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}
.modal .header img {
  margin-top: 1.2rem;
  cursor: pointer;
}
.modal .header h2 {
  font-size: 6.4rem;
  font-weight: normal;
  text-align: left;
  line-height: 1.2;
}
.modal .header h2 span {
  display: block;
}
.modal form textarea {
  width: 100%;
  height: 20rem;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__main {
  align-items: center;
  height: 90px;
}
.header__main h1 {
  font-size: 3.6rem;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
  margin-top: 10rem;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.photographer_section article a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.photographer_section article h2 {
  color: #d3573c;
  font-size: 3.6rem;
  margin-top: 1.6rem;
}
.photographer_section article img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}
.photographer_section article .photographer__location {
  color: #901c1c;
  font-size: 1.3rem;
}
.photographer_section article .photographer__slogan {
  font-size: 1.2rem;
}
.photographer_section article .photographer__rate {
  color: #757575;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.photographer__header {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  height: 30rem;
  margin: 0 10rem;
  padding: 0 5rem;
}
.photographer__details {
  flex: 1 1 33%;
}
.photographer__details h1 {
  font-size: 6.4rem;
  color: #d3573c;
}
.photographer__location {
  margin: 1rem 0 1.8rem;
  font-size: 2.4rem;
  color: #901c1c;
}
.photographer__slogan {
  font-size: 1.8rem;
}
.photographer .wrapper {
  flex: 1 1 33%;
  text-align: center;
}
.photographer__profile-picture {
  flex: 1 1 33%;
  text-align: right;
}
.photographer__profile-picture img {
  border-radius: 50%;
}
.photographer__portfolio {
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
}
.photographer__portfolio-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10rem;
}
.photographer__portfolio-card {
  flex: 0 1 28%;
}

.drop-down {
  margin: 2rem 0 5rem;
}
.drop-down label {
  font-size: 1.8rem;
  font-weight: bold;
}
.drop-down select {
  margin-left: 2rem;
  padding: 1rem;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: bold;
}
.drop-down option {
  background-color: #901c1c;
  color: white;
}

.image {
  height: 30rem;
  overflow: hidden;
  border-radius: 5px;
}
.image img {
  object-fit: cover;
}
.image-description {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #901c1c;
  font-size: 2.4rem;
}
.image-description h2 {
  color: inherit;
  font-size: inherit;
}
.image-description span {
  color: inherit;
  font-size: inherit;
}
.image-description svg {
  margin-left: 1rem;
}

/*# sourceMappingURL=style.css.map */
