.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__main {
    align-items: center;
    height: 90px;

    & h1 {
      font-size: 3.6rem;
    }
  }
}

.logo {
  height: 50px;
  margin-left: 100px;
}
