.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $color-primary;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary-light;
    color: black;
  }

  &:focus {
    outline: 2px solid black;
    background-color: $color-secondary-light;
  }
}
