.contact-button {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  padding: 1.1rem;
  width: 17rem;
  height: 7rem;
  border: none;
  background-color: $color-primary;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary-light;
    color: black;
  }

  &:focus {
    @include button-focus;
  }
}
