.drop-down {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 2rem;
  width: 17rem;
  height: 7rem;
  cursor: pointer;

  &:not(:focus) {
    & .option {
      border-radius: $border-radius;
    }
  }

  &:focus {
    & .option {
      position: relative;
      pointer-events: all;

      &:nth-of-type(2) {
        & ~ .input:checked {
          border-radius: 0 0 $border-radius $border-radius;
        }
      }
    }

    & .input {
      &:checked {
        & + .option {
          border-radius: $border-radius $border-radius 0 0;

          &:after {
            transform: rotate(180deg);
            transform-origin: center;
          }
        }
      }

      &:not(:checked) {
        & + .option {
          &:last-of-type {
            border-radius: 0 0 $border-radius $border-radius;
          }
        }

        & ~ .input:not(:checked) {
          & + .option {
            // This is when the Date label is at the bottom of the list
            // (when Titre is checked, which is the last input, therefore
            // the previous two inputs will be unckecked)
            border-radius: 0 0 $border-radius $border-radius;
          }
        }
      }
    }
  }

  &-section-wrapper {
    display: flex;
    margin: 2rem 0;
  }
}

.option {
  display: flex;
  align-items: center;
  order: 2;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 7rem;
  padding: 2rem;
  background-color: $color-primary;
  color: white;
  //border-top: 1px solid white;
  font-size: 1.8rem;
  font-weight: 700;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.input {
  opacity: 0;
  position: absolute;
  left: -9999rem;

  &:checked {
    & + .option {
      position: relative;
      order: 1;
      z-index: 2;
      background: $color-primary;

      & .short-border {
        border-top: none;
      }

      &:before {
        position: absolute;
        content: '';
        right: 0;
        width: 4rem;
        height: 4rem;
        background: $color-primary;
      }

      &:after {
        background-image: url("../assets/icons/dropdown-arrow.svg");
        background-repeat: no-repeat;
        position: absolute;
        content: '';
        width: 16px;
        height: 10px;
        top: 44%;
        right: 16px;
        pointer-events: none;
        z-index: 3;
      }
    }
  }
}

.short-border {
  position: absolute;
  border-top: 1px solid white;
  top: 0;
  left: 6%;
  right: 6%;
}
