#contact-modal {
  display: none;
}

.contact-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-modal-background;
  padding-top: 5rem;
  z-index: 1000;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  border-radius: $border-radius;
  background-color: $color-secondary;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;

  & .header {
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;

    & img {
      margin-top: 1.2rem;
      cursor: pointer;
      border-radius: $border-radius;

      &:focus {
        outline: 2px solid black;
        background-color: black;
      }
    }

    & h1 {
      color: initial;
      font-size: 4rem;
      font-weight: normal;
      text-align: left;
      line-height: 1.2;

      & span {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .contact-modal {
    padding-top: 3rem;
  }

  .modal {
    padding: 2rem;

    & .header {
      & h1 {
        font-size: 3rem;
      }
    }
  }
}