* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  color: $color-primary;
  margin-right: 100px;
}

.clickable {
  pointer-events: auto;
}