.photographer {
  &__header {
    display: flex;
    align-items: center;
    background-color: $color-grey-light;
    height: 30rem;
    margin: 0 10rem;
    padding: 0 5rem;
  }

  &__details {
    flex: 1 1 33%;

    & h1 {
      font-size: 6.4rem;
      color: $color-secondary;
    }
  }

  &__location {
    margin: 1rem 0 1.8rem;
    font-size: 2.4rem;
    color: $color-primary;
  }

  &__slogan {
    font-size: 1.8rem;
  }

  & .wrapper {
    flex: 1 1 33%;
    text-align: center;
  }

  &__profile-picture {
    flex: 1 1 33%;
    text-align: right;

    & img {
      border-radius: 50%;
    }
  }

  &__portfolio {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;

    &-images {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 29% 29% 29%;
      row-gap: 5rem;
      column-gap: 10rem;

      & .image {
        & img {
          width: 100%;
        }
      }
    }
  }
}

.image {
  height: 30rem;
  overflow: hidden;
  border-radius: $border-radius;

  &:focus {
    @include element-focus;
  }

  & img {
    object-fit: cover;
  }

  & img,
  & video {
    border-radius: $border-radius;
  }

  &-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    color: $color-primary;
    font-size: 2.4rem;

    & h2 {
      color: inherit;
      font-size: inherit;
    }

    & p {
      display: flex;
      justify-content: flex-end;
      color: inherit;
      font-size: inherit;
    }

    & img {
      margin-left: 1rem;
      width: 1.1em;
      cursor: pointer;

      &:focus {
        @include element-focus;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .photographer {
    &__header {
      height: 24rem;
      padding: 0 4rem;
    }

    &__details {
      & h1 {
        font-size: 3.4rem;
      }
    }

    &__location {
      font-size: 2rem;
    }

    &__slogan {
      font-size: 1.5rem;
    }

    &__portfolio {
      &-images {
        row-gap: 1rem;
        column-gap: 2rem;
      }
    }
  }

  .image {
    height: 15rem;

    &-description {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
}