@mixin flex-col-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow-icon-focus {
  outline: 2px solid $color-primary;
  box-shadow: 0 0 16px 12px $color-primary;
}