@mixin flex-col-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin element-focus {
  outline: 4px dashed $color-primary;
}

@mixin element-focus-white {
  outline: 4px dashed white;
}

@mixin button-focus {
  background-color: $color-secondary-light;
  color: black;
}
