/*****
 COLOR
 */
$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-secondary-light: #db8876;
$color-grey-dark: #312e2e;
$color-grey-medium: #525252;
$color-grey-medium-light: #757575;
$color-grey-light: #fafafa;
$color-modal-background: rgba(196, 196, 196, 0.4);

/*******
 BORDERS
 */
$border-radius: 5px;
